 <section class="block container"><!-- Container class is used to limit the size of contents-->
    <header class="block__header">
    <h2 class="block__heading">heading</h2>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Harum, magni.</p>
    </header>
    <div style="width:30%; padding:4rem">
        <div class="card card--secondary">
            <header class="card__header">Card Title</header>
            <div class="card__body">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Modi, velit!
            </div>
        </div>
    </div>
   </section>
      <section class="block block--dark block--skewed-left">
    <div class="container"><!-- here we cant use container class in dark block because previous section it was white background here it is black background so we restrict the size of contents by wrapping inside div with class of container-->
        <h2 class="block__heading">heading</h2>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Harum, magni.</p>
    </div>
   </section>