 <div class="collapsible collapsible--expanded">
        <header class="collapsible__header">
            <h2 class="collapsible__heading">Item 1</h2>
            <svg class="icon  collapsible__chevron">
            <use xlink:href="css/images/chevron.svg"></use><!-- SPRITE.SVG CHEVRON DOESNT WORK SO WE DIRECTLY USE CHEVRON.SVG-->
            </svg>
        </header>
        <div class="collapsible__content">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente, impedit.
        </div>
    </div>
    <script src="project.js"></script>