  <section class="block block--dark block--skewed-right block-showcase"><!--In the showcase block grid is  gonna have different template-->
    <header class="block__header">
      <h2>User-friendly Control Panel</h2>
    </header>
    <div class="container grid grid--1x2">
      <picture  class="block-showcase__image">
        <source type="image/webp" srcset="css/images/ipad.webp 1x css/images/ipad@2x.webp 2x">
         <source type="image/png" srcset="css/images/ipad.png 1x css/images/ipad@2x.png 2x">
      <img src="css/images/ipad.png" alt="">
      </picture>
      <ul class="list">
        <li><!--Easch item is a media object here using div makes no sense because div doesn't have a meaning-->
          <div class="media">
    <div class="media__image">
        <svg class="icon icon--primary">
        <use xlink:href="css/images/sprite.svg#snap"></use>
        </svg>
    </div>
    <div class="media__body">
        <h3 class="media__title">Easy Start & Managed Updates</h3>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nobis beatae, dignissimos suscipit culpa distinctio commodi voluptatibus eligendi adipisci quos labore!</p>
    </div>
  </div>
        </li>
        <li>
           <div class="media">
    <div class="media__image">
        <svg class="icon icon--primary">
        <use xlink:href="css/images/sprite.svg#growth"></use>
        </svg>
    </div>
    <div class="media__body">
        <h3 class="media__title">Staging,GIT &WP-CLI</h3>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nobis beatae, dignissimos suscipit culpa distinctio commodi voluptatibus eligendi adipisci quos labore!</p>
    </div>
  </div>
        </li>
        <li>
           <div class="media">
    <div class="media__image">
        <svg class="icon icon--primary">
        <use xlink:href="css/images/sprite.svg#wordpress"></use>
        </svg>
    </div>
    <div class="media__body">
        <h3 class="media__title">Dynamic Caching & More</h3>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nobis beatae, dignissimos suscipit culpa distinctio commodi voluptatibus eligendi adipisci quos labore!</p>
    </div>
  </div>
        </li>
      </ul>
    </div>
  </section>